<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkerboard Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>

</head>

<body>

    <h1>GO IRISH!</h1>

    {% for row in range(rowNum): %}
    <div class='row'>
        {% for column in range(columnNum): %}
            {% if((row+column)%2==0): %}
            
                <div class="color1 row"></div>
            {% else %}
                <div class="color2 row"></div>
            {% endif %}
        {% endfor %}
    </div>    
    {% endfor %}





</body>

</html>